body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiDialog-paperFullWidth {
  background: rgba(70, 74, 83, 1) !important;
}
.MuiDialog-paperWidthSm {
  max-width: 720px !important;
}
.MuiInputBase-input {
  color: white !important;
}
.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  width: 60%;
  height: 8px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-top: 20px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 3px;
}

.password-strength-meter-label {
  font-size: 14px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.strength-Weak::-webkit-progress-value {
  /* background-color: #F25F5C; */
  background-color: white;
}
.strength-Fair::-webkit-progress-value {
  /* background-color: #FFE066; */
  background-color: white;
}
.strength-Good::-webkit-progress-value {
  /* background-color: #247BA0; */
  background-color: white;
}
.strength-Strong::-webkit-progress-value {
  /* background-color: #70C1B3; */
  background-color: white;
}

.password-strength-round {
  width:30px; 
  height:30px; 
  border-radius:50%; 
  background: black; 
  position: absolute; 
  left: 143px; 
  top: 24px;
}
.round1-postion {
  left: 143px; 
  top: 24px;
}
.round2-postion {
  left: 340px; 
  top: 24px;
}
.round3-postion {
  left: 547px; 
  top: 24px;
}
.round-bg-Weak {
  background: black; 
}
.round-bg-Good {
  background: green; 
}
.round-bg-Strong {
  background: green; 
}

